<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <connectionStrings>
    <!-- name Имя должно совпадать с той что в MyDbContext source-Подключение к БД  Catalog-Имя БД  providerName-Провайдер для БД Какая БД -->
    <!--  AttachDBFilename=D:\Дмитрий\source\repos\Dimaematveev\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf где храниться-->
    <add name="test_MINI" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=ShedulerTest;Integrated Security=True;           AttachDBFilename=D:\Дмитрий\source\repos\Dimaematveev\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf" providerName="System.Data.SqlClient" />
    <add name="test_HOME" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=ShedulerTest;Integrated Security=True;           AttachDBFilename=C:\Users\Дмитрий\source\repos\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf" providerName="System.Data.SqlClient" />
  <add name="ShedEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Shed;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>