<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!-- name Имя должно совпадать с той что в MyDbContext source-Подключение к БД  Catalog-Имя БД  providerName-Провайдер для БД Какая БД -->
    <!--  AttachDBFilename=D:\Дмитрий\source\repos\Dimaematveev\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf где храниться-->
    <!--  AttachDBFilename=C:\Users\Дмитрий\source\repos\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf" где храниться-->
    <add name="test_MINI" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=ShedulerTest;Integrated Security=True; 
         AttachDBFilename=D:\Дмитрий\source\repos\Dimaematveev\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf"
      providerName="System.Data.SqlClient"/>
    <add name="test_HOME" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=ShedulerTest;Integrated Security=True; 
         AttachDBFilename=C:\Users\Дмитрий\source\repos\SheduleFramework\SimpleSheduler\SimpleSheduler.BD\SQL\ShedulerTest.mdf"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>